{% extends 'template-pesquisa.html' %}
{% block conteudo %}
  <form method="post" action="{{ url_for('responderPergunta',id=id,numeropergunta=0) }}" enctype="multipart/form-data" id="formulario">
    <div class="box_cabecalho">
      <div class="box_titulo_interno">
        <i class="bi bi-card-checklist" style="font-size:2rem; color:black;" data-toggle="tooltip" data-placement="right" title="Pesquisa"></i> {{ titulo }}
      </div>
      <div class="box_botoes">
        <a class="btn btn_titulo" href="#" onclick="myFunction()"><i class="bi bi-arrow-right-circle" style="font-size:1.5rem; color:white;"></i></a>
      </div>
    </div>
    <div class="boxcentral">
      <table class="table table-bordered table-responsiv table-hover">
          <thead>
            <tr>
              <th width="80%">Nome</th>
              <th width="10%">Status</th>
              <th width="10%">Ações</th>
            </tr>
          </thead>
          <tbody>
              {% for resposta in respostas%}
              <tr>
                  <td>
                    {{ respostas }}
                  </td>
                  <td>
                  </td>
                  <td valing="midle">

                </td>              
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
  </form>
{% endblock %}
